@font-face {
    font-family: "BPG Nino Mtavruli";
    src: url(fonts/bpg_nino_mtavruli_bold.otf) format("opentype");
}
@font-face {
    font-family: "BPG Nino Mtavruli Normal";
    src: url(fonts/bpg_nino_mtavruli_normal.otf) format("opentype");
}
@font-face {
    font-family: "BPG Nino Mtavruli Book";
    src: url(fonts/bpg_nino_mtavruli_book.ttf) format("truetype");
}

@font-face {
    font-family: "BPG Ingiri Arial";
    src: url(fonts/bpg_ingiri_arial.ttf) format("truetype");
}
/********************** ნევიგაცია ************************/

.inline{
    margin: 30px;
    padding: 0px;
    list-style: none;
}
.inline li{
    padding-right: 30px;
    display: inline;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin-right: 40px;
}
.menu li{
    display:table-cell;
    vertical-align: bottom;
}
.menu li a{
    text-decoration: none;
    font-family: 'BPG Nino Mtavruli';
    font-weight: bold;
    font-size: 22px;
    color: #3D58A6;
}
#onpage{
    color: #EE4036;
}
.menu li a:hover{
    color: #EE4036;
}
.margin-left{
    margin-left: 30px;
}


/************************ ქავერ სექცია ************************/

.cover{ 
    position: relative; 
    width: 100%;
    margin-bottom: 120px;
 }
.over-cover{
    font-family: 'BPG Nino Mtavruli';
    font-weight: lighter;
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 150px;
    left: 30px;
}


/************************ შესაძლებლობების სექცია ************************/

.featured-header{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: black;
    margin-bottom: 30px;
}
.features{
    width: 1170px;
    overflow: hidden;
    margin-bottom: 90px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.feature-1{
    float: left;
}
.feature-2{
    float: right;
}
.featured{
    background-color: #F2F2F2;
    width: 570px;
    padding-bottom: 30px;
}
.featured h2{
    margin-left: 15px;
    color: #3D58A6;
}
.top-align{
    vertical-align: top;
}
.featured-images{
    display: inline-block;
    height: 130px;
    margin-left: 30px;
}
.featured-content{
    display: inline-block;
    font-size: 20px;
    color: #333333;
    width: 355px;
    height: 130px;
    padding-left: 30px;
}

/************************ სიახლეების სექცია ************************/

/* .date-back{
    display: table-cell;
    vertical-align: middle;
    height: 56px;
    width: 56px;
    background-color: #3D58A6;
    color: white;
    font-family: 'BPG Nino Mtavruli Normal';
    font-weight: lighter;
    font-size: 48px;
} */

.date-back{
    height: 56px;
    width: 56px;
    line-height: 62px;
    text-align: center;
    background-color: #3D58A6;
}
.date-num{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
    font-family: 'BPG Nino Mtavruli Normal';
    font-weight: lighter;
    font-size: 48px;
}
.date-text{
    font-family: 'BPG Nino Mtavruli Normal';
    font-weight: lighter;
    font-size: 22px;
    color: #3D58A6;
    margin-top: 5px;
    padding-bottom: 20px;
}
.headline{
    font-family: 'BPG Nino Mtavruli Normal';
    font-weight: lighter;
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
}
.news-pic{
    display: inline-block;
    height: 210px;
}
.article{
    font-family: "BPG Ingiri Arial";
    font-weight: normal;
    width: 800px;
    font-size: 16px;
    color: black;
    padding-left: 30px;
}
.news-inblock{
    display: inline-block;
}
.news-content{
    margin-bottom: 90px;
}


/************************ საკონტაქტო ************************/
.contact-back{
    background-color: #E6E6E6;
}
.contact-info{
    display: inline-block;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 60px;
    font-family: "BPG Ingiri Arial";
    font-weight: normal;
    font-size: 16px;
}
.title{
    font-family: 'BPG Nino Mtavruli';
    font-weight: lighter;
    font-size: 20px;
    color: #3D58A6;
}
.grey{
    color:#808080;
}
.contact-info{
    color: black;
}


 /* Set the size of the div element that contains the map */
#map {
    display: inline-block;
    margin: 60px;
    height: 466px;  
    width: 874px;  /* The width is the width of the web page */
}






/************************ ფუთერი ************************/

 .social {
    height: 30px;
} 
